/* Reset de estilos y configuración global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  margin-top: 100px;
 
  background: #e96443;
  background: -webkit-linear-gradient(to right, #904e95, #e96443);
  background: linear-gradient(to right, #904e95, #e96443);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  display:flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  
  
}

/* Estilos específicos para tus elementos */
ul {
  list-style: none;
  padding: none;
  margin: none;
}
button{
  font-size: 20px;
  width: 70px;
  height: 50px;
}
input{
  font-size: 20px;
  width: 50px;
  height: 50px;
  margin: 10px;
 }
select{
  font-size: 25px;
  height: 40px;
  margin: 10px;
}
option{
  font-size: 30px;
}

